@charset "UTF-8";
.content{
  position: relative;
  padding: 20px;
  background: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 30px;
  width: 500px;
  margin: 0 auto;
  line-height: 16px;
  font-size: 16px;

}
.content:before,.content:after{
  position: absolute;
  content: "";
  border: 20px solid transparent;
  left: 30px;
}
.content:before {
  border-top: 20px solid  #8f5a0a;
  bottom: -45px;
}
.content:after {
  border-top: 20px solid  #fad296;
  bottom: -38px;
}